.CartButton {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: var(--uls-blue);
  color: white;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 300ms ease all;
  z-index: 60;
}
.CartButton:hover {
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3);
}
.CartButton__status {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CartButton_hide {
  display: none;
}
