.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
  min-height: 400px;
}

.hero.no-image {
  background-color: var(--primary-blue);
}

.hero .bg-image,
.hero.no-image .bg-stripes,
.hero .bg-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero .container {
  padding: 3rem 0;
}

.hero .bg-image {
  z-index: -1;
}

.hero .bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero.no-image .bg-stripes img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
}

.hero .bg-image .overlay {
  background-color: #1e1e1e;
  opacity: 0.5;
}
