.floating-tabs {
  border-radius: 4px;
  box-shadow: 0 3px 34px rgba(0, 0, 0, 0.25);
  background-color: var(--pure-white);
  margin-top: -50px !important;
  margin-bottom: 120px !important;
  z-index: 4;
}

.floating-tabs .content-container {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100% - 80px);
}

.floating-tabs .divider {
  background-color: #444f69;
  width: 1px;
  height: 100px;
  opacity: 0.3;
  margin: 0 45px;
  align-self: center;
}

.floating-tabs .tab {
  width: calc(100% / 3 - 30px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transition: 200ms ease all;
}

.floating-tabs .tab:hover {
  /* transform: scale(1.01); */
}

.floating-tabs .tab .icon {
  width: 33px;
  height: 48px;
  object-fit: contain;
  margin-right: 14px;
  color: var(--primary-blue);
}

.floating-tabs .tab p {
  margin-top: 8px;
}

.floating-tabs .tab:hover h4:after {
  transform: scaleX(1);
}

.floating-tabs .tab h4 {
  font-size: 24px;
  color: var(--primary-blue);
  font-family: Minion;
  margin-top: 13px;
}

.floating-tabs .tab h4:after {
  content: '';
  display: block;
  width: 70%;
  height: 2px;
  background-color: var(--primary-gold);
  transform-origin: left;
  transform: scaleX(0.2);
  margin-top: 8px;
  transition: all 0.3s;
}

@media (max-width: 960px) {
  .floating-tabs .content-container {
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 15px;
  }

  .floating-tabs .tab {
    width: 100%;
    margin-bottom: 35px;
    justify-content: flex-start;
  }

  .floating-tabs .divider {
    display: none;
  }

  .floating-tabs .tab h4 {
    margin-bottom: 0px;
  }
}
