#content {
  margin-bottom: 100px;
}

#content p,
ul,
ol {
  font-size: 20px;
  line-height: 42px;
  color: #444;
}

#content strong {
  font-weight: 700;
}

#content h2,
#content h3,
#content h4 {
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 45px;
}

#content h2 {
  font-size: 50px;
  color: var(--primary-blue);
}

#content h3 {
  font-size: 36px;
  color: var(--primary-blue);
}

#content h4 {
  font-size: 21px;
  color: var(--dark-gray);
}

.wp-block-code {
  font-family: Menlo, Consolas, monaco, monospace;
  font-size: 14px;
  color: #23282d;
  padding: 0.8em 1em;
  border: 1px solid #e2e4e7;
  border-radius: 4px;
}

.wp-block-preformatted pre {
  font-family: Menlo, Consolas, monaco, monospace;
  font-size: 14px;
  color: #23282d;
}

.wp-block-pullquote {
  border-top: 4px solid #555d66;
  border-bottom: 4px solid #555d66;
  color: #40464d;
}

.wp-block-pullquote cite,
.wp-block-pullquote footer,
.wp-block-pullquote__citation {
  color: #40464d;
  text-transform: uppercase;
  font-size: 13px;
  font-style: normal;
}

.wp-block-quote {
  margin: 25px 0;
  background-color: #f7f8f8;
  padding: 10px 0 15px;
}

.wp-block-quote cite,
.wp-block-quote footer,
.wp-block-quote__citation {
  color: #6c7781;
  font-size: 13px;
  margin-top: 1em;
  position: relative;
  font-style: normal;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-left: 4px solid var(--primary-gold);
  padding-left: 1em;
}

.wp-block-separator {
  border: none;
  border-bottom: 2px solid #8f98a1;
  margin: 1.65em auto;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100px;
}

.wp-block-table {
  width: 100%;
  min-width: 240px;
  border-collapse: collapse;
}

.wp-block-table td,
.wp-block-table th {
  padding: 0.5em;
  border: 1px solid currentColor;
  word-break: break-all;
}

/* link styling for links that are not buttons - aka inline text links */
#content a:not(.wp-block-button__link) {
  color: var(--primary-blue);
  font-weight: bold;
  position: relative;
  transition: 100ms ease background-color;
  padding-top: 3px;
  border-bottom: 3px solid var(--light-gray);
}

#content a:hover:not(.wp-block-button__link) {
  background-color: var(--light-gray);
}

/* Button styling created by shortcode */
#content .shortcode-btn {
  border: 2px solid var(--primary-blue);
  box-shadow: none;
  color: var(--primary-blue);
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  overflow-wrap: break-word;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 200ms;
}
