header {
  font-family: 'Minion';
  color: var(--pure-white);
}

header.colored {
  color: var(--primary-blue);
}

header.centered {
  margin: 0 auto;
}

header.centered h1 {
  text-align: center;
}

header h1,
header h2,
header h3,
header h4 {
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: normal;
}

header h1 {
  font-size: 72px;
}

header h2 {
  font-size: 60px;
  position: relative;
}

header h2.underline:after {
  content: '';
  display: block;
  background-color: var(--primary-gold);
  width: 100px;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: -10px;
}

header h3 {
  font-size: 28px;
}

header h4 {
  font-size: 28px;
  font-family: 'Open Sans';
  font-weight: 600;
}
