.Nav {
  width: 100%;
  padding: 16px 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100000;
  background-color: var(--pure-white);
}

.Nav .upper-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.Nav .upper-container .saying {
  color: var(--primary-blue);
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
}

.Nav .upper-container .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Nav .upper-container .links a {
  color: #444f69;
  font-size: 14px;
  text-decoration: none;
  margin-left: 40px;
}

.Nav .divider {
  width: 100%;
  height: 1px;
  background-color: #444f69;
  opacity: 0.2;
  margin: 12px 0;
}

.Nav .lower-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Nav .lower-container .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.Nav .lower-container .logo img {
  width: 340px;
  height: 100px;
  object-fit: contain;
  margin-right: 15px;
}

.Nav .lower-container .links a {
  color: #444f69;
  font-size: 15px;
  text-decoration: none;
  margin-left: 40px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.Nav .lower-container a.active:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--primary-gold);
  position: absolute;
  bottom: -5px;
  left: 0px;
}

/* responsive */
@media (max-width: 991px) {
  .Nav .lower-container {
    flex-direction: column;
  }

  .Nav .lower-container .links {
    margin-top: 20px;
  }
}
