.Nav {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100000;
}

.Nav .nav-wrapper {
  padding-top: 16px;
  width: 100%;
  height: 100%;
  background-color: var(--pure-white);
  position: relative;
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.Nav .upper-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.Nav .upper-container .saying {
  color: var(--primary-blue);
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
}

.Nav .upper-container .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Nav .upper-container .links a {
  color: #444f69;
  font-size: 14px;
  text-decoration: none;
  margin-left: 40px;
}

.Nav .divider {
  width: 100%;
  height: 1px;
  background-color: #444f69;
  opacity: 0.2;
  margin: 12px 0;
}

.Nav .lower-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Nav .lower-container .logo,
.mobile-nav .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.Nav .lower-container .logo img {
  width: 340px;
  height: 100px;
  object-fit: contain;
  margin-right: 15px;
}

.Nav .lower-container .links a,
.drawer .mobile-links a,
.drawer .mobile-links .link,
.drawer .sec-mobile-links a {
  color: #444f69;
  font-size: 15px;
  text-decoration: none;
  margin-left: 40px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.Nav .lower-container .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: normal;
}

.Nav .lower-container .links a {
  padding-bottom: 16px;
  display: block;
}

.Nav .lower-container a.active:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--primary-gold);
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/* mobile nav */

.mobile-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  background-color: #fff;
  z-index: 10000000;
  display: none;
}

.mobile-nav .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
}

.mobile-nav .logo img {
  width: 240px;
  height: 70px;
  object-fit: contain;
  margin-right: 15px;
}

.mobile-nav .hamburger {
  padding: 4px;
  margin-right: -4px;
  cursor: pointer;
}

.mobile-nav .hamburger .bun,
.mobile-nav .hamburger .bun:before,
.mobile-nav .hamburger .bun:after {
  width: 30px;
  height: 2px;
  background-color: #222;
  border-radius: 2px;
}

.mobile-nav .hamburger .bun {
  position: relative;
}

.mobile-nav .hamburger .bun:before,
.mobile-nav .hamburger .bun:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
}

.mobile-nav .hamburger .bun:before {
  bottom: 7px;
}

.mobile-nav .hamburger .bun:after {
  top: 7px;
}

.drawer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000000;
  transform: translateX(100%);
  transition: all 0.3s;
  overflow: auto;
}

.drawer.open {
  transform: translateX(0);
}

.drawer .mobile-links {
  padding-top: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  transform: translateX(0%);
  opacity: 1;
  transition: all 0.3s;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.drawer .back {
  color: #444f69;
  margin-bottom: 25px;
}

.drawer .back img {
  margin-right: 8px;
  margin-top: -2px;
}

.drawer .sec-mobile-links {
  padding-top: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.2s ease-out;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

.drawer .sec-mobile-links.open {
  transform: translateX(0%);
  opacity: 1;
  transition: all 0.3s ease-out;
}

.drawer .mobile-links.closed {
  transition: all 0.3s ease-out;
  transform: translateX(-100%);
  opacity: 0;
}

.drawer .mobile-links a,
.drawer .mobile-links .link,
.drawer .sec-mobile-links a {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

/* Hover bar */

.hover-bar {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  z-index: 0;
  background-color: #fff;
  transform: translateY(80%);
  opacity: 0;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.16);
  transition: all 0.3s;
}

.hover-bar.open {
  opacity: 1;
  transform: translateY(99%);
  transition: all 0.3s;
}

.hover-bar .content-container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  padding: 25px 0;
}

.hover-bar .flex-upper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 10px;
}

.hover-bar .flex-upper a {
  color: var(--primary-blue);
  opacity: 1;
  transition: opacity 0.3s;
}

.hover-bar .flex-upper a:hover {
  opacity: 0.7;
}

.hover-bar .flex-lower {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 25px 0;
}

.hover-bar .flex-lower a {
  display: block;
  width: calc(25% - 10px);
}

.hover-bar .flex-lower a:hover .label:after {
  transform: scaleX(1);
}

.hover-bar .flex-lower a:hover .hover-bar-icon {
  transform: translateY(-5px);
}

.hover-bar .flex-lower a:hover .label {
  transform: translateY(-2px);
}

.hover-bar .flex-lower svg {
  color: var(--primary-blue);
  font-size: 1.7em;
  transition: all 0.3s;
}

.hover-bar .flex-lower .label {
  font-size: 24px;
  color: var(--primary-blue);
  font-family: Minion;
  margin-top: 4px;
  transition: all 0.3s;
}

.hover-bar .flex-lower .label:after {
  content: '';
  display: block;
  width: 70%;
  height: 2px;
  background-color: var(--primary-gold);
  transform-origin: left;
  transform: scaleX(0.2);
  transition: all 0.3s;
}

.hover-bar .flex-lower p {
  color: #222;
  margin-top: 12px;
  font-size: 15px;
  opacity: 0.8;
}

/* responsive */
@media (max-width: 991px) {
  .Nav .lower-container {
    flex-direction: column;
  }

  .Nav .lower-container .links {
    margin-top: 20px;
  }
}

@media (max-width: 776px) {
  .Nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
}
