.sidebar {
  width: 100%;
}

.sidebar a {
  background-color: var(--primary-blue);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  display: block;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 14px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

/* .sidebar a:first-of-type {
  padding-top: 24px;
}

.sidebar a:last-of-type {
  padding-bottom: 24px;
} */

.sidebar a:hover {
  background-color: #606980;
  color: white;
  text-decoration: none;
}

.sidebar a.active {
  background-color: var(--primary-gold);
}
