.sidebar {
  width: 100%;
}

.sidebar div.link {
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  padding-bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 20px;
  background-color: #303e5b;
}

.sidebar a {
  background-color: var(--primary-blue);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 14px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.sidebar .top-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #263148;
}

/* .sidebar .top-link:before {
  content: '';
  margin-top: -2px;
  margin-right: 8px;
  display: block;
  background-image: url('../../assets/vectors/info.png');
  width: 18px;
  height: 18px;
  background-size: contain;
} */

.sidebar div.link.two .link-title {
  background-color: #303e5b;
  padding-left: 20px;
  margin-left: -20px;
}

.sidebar div.link.two div.link.three .link-title {
  background-color: #303e5b;
  margin-left: -30px;
  padding-left: 30px;
}

.sidebar div.link .three {
  background-color: #263148;
  padding-left: 30px;
  margin-left: -20px;
}

.sidebar div.link .four {
  background-color: #1e2738;
  margin-left: -30px;
  padding-left: 40px;
}

.sidebar div.link .three:hover,
.sidebar div.link .four:hover {
  background-color: #606980;
  color: white;
  text-decoration: none;
}

.sidebar a:hover,
.sidebar div.link.two .link-title:hover,
.sidebar div.link.two div.link.three .link-title:hover {
  background-color: #606980;
  color: white;
  text-decoration: none;
}

.sidebar a.active,
.sidebar div.link a.active,
.sidebar div.link .three.active,
.sidebar div.link .four.active,
.sidebar div.link.two .link-title.active,
.sidebar div.link.two div.link.three .link-title.active {
  background-color: var(--primary-gold);
}
