.media-post.page #content {
  width: 100%;
  max-width: 720px;
}

.media-post.page .page-wrapper.top {
  margin-top: 50px;
}

.media-post.page .heading {
  width: 100%;
  height: 400px;
  margin-top: 117px;
}

.media-post.page .heading img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.media-post.page .divider {
  width: 100px;
  height: 2px;
  background-color: var(--primary-blue);
  margin: 40px 0 60px;
}

.media-post.page header {
  margin-top: 20px;
}
