.home.page .grey-bg {
  background-color: #f7f8f8;
}

.home.page .grey-bg.top {
  padding: 300px 0 75px;
  margin-top: -280px;
}

.home.page .grey-bg.middle {
  padding: 100px 0;
}

.home.page footer {
  margin-top: 150px;
}

@media (max-width: 768px) {
  .home .hero {
    min-height: 550px;
  }

  .home .hero .container {
    padding-top: 0px;
  }
}
